# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Kivy / Buildozer
bin/
.buildozer/
*.apk
*.aab

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Config (не коммитим пароли)
assets/config.default.json
